.about-in-main {
    .container .about_text_in_main {
        background-color: $gray_bg_color;
        padding: 40px;
        border-radius: $border_rad;
        width: unset;
    }
}

@media (max-width:480px) {
    .about-in-main {
        .container .about_text_in_main {
            padding: 20px;
            font-size: 12px;
        }
    }
}
