footer {
    background-color: $blue_color;
    color:white;
    .container {
        display: flex;
        justify-content: space-between;
        font-weight: 200;
        a{
            color:white;

        }

        .col {
            display: flex;
            flex-direction: column;

            .fheader {
                font-weight: bold;
                font-size: 26px;
                margin-bottom: 30px;
            }
        }

        .col_logo {
            .logo {
                margin: 0 auto auto auto;
            }

            .social {
                margin-left: 0;
                .sprite_icon {
                    fill:white;

                    .pros {
                        fill: $blue_color;
                    }
                }
            }

        }
    }
}
