.select_form {
    display: flex;
    gap:20px;

    .field {
        flex:1;
        margin-bottom: 0;
    }

    .button {
        max-height: 30px;
        margin-top: auto;
        margin-bottom: 2px;
    }
}

.product_wrapper {
    display: flex;
    flex-direction: column;
    gap:20px;

    .product_card {
        display: flex;
        border:1px solid lightgray;
        padding: 5px;
        gap:20px;
        border-radius: 5px;

        .photo{
            width:100px;
            height: 100px;
        }

        .text{
            flex:1;
            margin: auto 0;
        }
    }
}

.control_panel {
    display: flex;
    margin-bottom: 20px;
    select {
        width:30%;
        min-width: 300px;
    }
}

.select_modification {
    display: flex;
    gap:40px;

    & > * {
        margin-top: auto;
        margin-bottom: auto;
    }
}


.selection_lnk {
    display: flex;
    margin: 0 0 40px 0;
}


@media (max-width:768px) {
    .select_modification,
    .select_form {
        flex-direction: column;
        gap:10px
    }

    .select_modification {
        gap:10px
    }

}
