.select_form {
    display: flex;
    gap:20px;
    background-color: $gray_bg_color;
    padding: 30px 20px;
    border-radius: 0 0 $border_rad $border_rad;
    margin-bottom: 20px;

    .field {
        flex:1;
        margin-bottom: 0;
    }

    .button {
        max-height: 30px;
        margin-top: auto;
        margin-bottom: 2px;
    }
}

.product_wrapper {
    display: flex;
    flex-direction: column;
    gap:20px;

    .product_card {
        display: flex;
        border:1px solid lightgray;
        padding: 5px;
        gap:20px;
        border-radius: 5px;

        .name {
            display: flex;
            h3 {
                margin: auto auto auto 0;
            }
        }

        .photo{
            width:100px;
            height: 100px;
        }

        .text{
            flex:1;
            margin: auto 0;
        }
    }

    .product_card_select {
        width:unset;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        flex-wrap: wrap;
        .photo {
            width: 70px;
            height: 70px;
        }

        .name{
            flex:1;
        }
        .price_section {
            width:90px;
            display: flex;
            .price {
                margin: auto 0;
            }
        }

        .params {
            font-size: 14px;
        }

        .control {
            display: flex;
            .button {
                margin: auto;
            }
        }
    }
}

.warning {
   padding: 10px 30px;
   background-color: rgba(254, 237, 1, 0.35);
   border:1px solid rgba(228, 6, 19, 0.3);
   border-radius: $border_rad;
   display: inline-flex;
   font-weight: bold;

   span {
        padding-left: 50px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left:0;
            top:calc(50% - 15px);
            width:36px;
            height:30px;
            background: url(../img/warning.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
   }

   &.history_warning {
        span {
            padding-left: 0;
            &:before {
                content: "";
                display: none;
            }
        }
   }
}

.control_panel {
    display: flex;
    margin-bottom: 20px;
    select {
        width:30%;
        min-width: 300px;
    }
}

.select_modification {
    display: flex;
    gap:40px;

    & > * {
        margin-top: auto;
        margin-bottom: auto;
    }
}


.selection_lnk {
    display: flex;
}


@media (max-width:768px) {
    .select_modification,
    .select_form {
        flex-direction: column;
        gap:10px
    }

    .select_modification {
        gap:10px
    }

    .product_wrapper {
        .product_card_select {
            gap:10px;
        }


    }
}

@media (max-width:375px) {
    .product_wrapper {
        .product_card_select {
            gap:10px;
            .control {
                flex:1;
                display: flex;
                .button{
                    width: 100%;
                }
            }
        }
    }
}
