.slider_control_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap:40px;

    .slider{
        width: 57%;
        max-width: 100%;
        position:relative;
        .slide_button_wrapper {
            z-index: 50;
            right: 20px;
            bottom: 20px;
        }
    }

    .controls{
        display: flex;
        flex-direction: column;
        gap:20px;
        flex:1;

        .control {
            border-radius: $border_rad;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 30px 40px;
            color:white;

            h2 {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
                line-height: 1.2;
                margin-bottom: 35px;
                margin-top: 0;
            }

            &.podbor_auto {
                background-image: url('../img/podbor_to_avto.webp');
            }

            &.podbor_param {
                h2 {
                    color:black;
                }
                background-image: url('../img/podbor_po_parma.webp');
            }
        }
    }
}


.main_slide_elelemt {
    position: relative;
    width:100%;
    height:100%;
    img {
        position: relative;
        object-fit: cover;
        z-index: 10;
    }

    .info {
        position: absolute;
        width: 30%;
        height: auto;
        top:50px;
        left:50px;
        z-index: 30;
        color: white;
        .head{
            font-size: 26px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .sub_head {
            margin-bottom: 30px;
        }
    }

    .shadow {
        z-index: 20;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #0000000A;
    }

}



@media (max-width:1024px) {
    .slider_control_wrapper {
        flex-direction: column;

        .slider {
            width:unset
        }
        .controls {
            flex-direction: row;
            justify-content: space-between;
            .control {
                flex:1;
            }
        }
    }
}

@media (max-width:768px) {
    .slider_control_wrapper {

        .controls {
            flex-direction: column;

        }
    }
}


@media (max-width:480px) {
    .banner_section {
        padding-top: 0;
    }
    .main_slide_elelemt {
        .shadow {
            background-color: rgba(0, 0, 0, 0.35);
        }

        .info {
            width:60%;
            top: 20px;
            left: 20px;
            .head {
                font-size: 18px;
                margin-bottom: 15px;
            }

            .sub_head {
                line-height: 1.2;
                font-size: 12px;
                margin-bottom: 15px;
            }
        }
    }

    .slider_control_wrapper {
        gap: 20px;
        .controls .control {
            padding: 15px 20px;

            h2 {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width:480px) {

    .main_slide_elelemt {
        .button{
            display: none;
        }
    }
}
