button,
.button {
    background-color: $main_color;
    border: 1px solid $main_color;
    color:white;
    padding: 10px 30px;
    cursor: pointer;
    transition: $main_transition;
    display: inline-block;
    line-height: 1;
    font-family: $main_fonts;
    font-size: 16px;
    text-align: center;
    border-radius: $border_rad_big;
    line-height: normal;
    &:hover {
        background-color: $hover_color;
    }
}

.button-white {
    background-color: white;
    color: $main_color;
    border: 1px solid $main_color;
    text-decoration: none;

    &:hover{
        color: white;
        text-decoration: none;
    }
}

.button-yellow {
    background-color: $yello_color;
    border-color: $yello_color;
    color: $black_color;

    &.favorite_fill {
        background-color: $gray_bg_color;
        border-color: $gray_bg_color;
    }

    &:hover {
        background-color: $yello_color_hover;
        border-color: $yello_color_hover;
    }
}

.button-yellow {
    background-color: $yello_color;
    border-color: $yello_color;
    color: $black_color;
    &:hover {
        background-color: $yello_color_hover;
        border-color: $yello_color_hover;
    }
}

.button-border {
    background-color: white;
    border-color: $main_color;
    color: $main_color;
    &:hover {
        background-color: $main_color;
        border-color: $main_color;
        color: white;
    }
}




.slide_button_wrapper {
    display: flex;
    gap:10px;
    position: absolute;

    .slide_button {
        border-radius: 40px;
        border:1px solid $gray_border_color;
        background-color: white;
        width: 35px;
        height: 35px;
        display: flex;

        &.slide_button_next {
            transform: rotate(180deg);
        }

        .sprite_icon {
            width: 8px;
            height: 15px;
            margin: auto;
        }

        &:hover {
            background-color: $yello_color;
        }
    }
}

.compare_button {
    background-color: $yello_color;
    border-radius: $border_rad_big;
    width:42px;
    height: 42px;
    display: flex;

    span {
        display: none;
    }

    .sprite_icon {
        width:21px;
        height: 21px;
        margin: auto;
    }

    &.favorite_fill {
        background-color: $gray_bg_color;
    }

    &:hover {
        background-color: $yello_color_hover;
    }

    @media (max-width:480px) {
		span {
            display: block;
        }
	}
}


.icon_button {
    display: flex;
    span {
        margin-right: 10px;
        margin: auto 10px auto 0;
    }
    .sprite_icon {
        width: 20px;
        height: 20px;
    }
}


@media (max-width:480px) {

    .compare_button {
        font-size: 14px;
        height: 38px;
    }
    .button {
        font-size: 14px;
        padding: 10px 10px;
    }
}
