details {
    display: flex;
    flex-direction: column;
    height: auto;
    summary{
        list-style: none;
        display: flex;
        cursor:pointer;

        span {
            font-size: 22px;
            font-weight: bold;
            margin: 5px auto 5px 0;
        }

        .sprite_icon {
            height:14px;
            width:7px;
            transform: rotate(-90deg);
            margin: auto 0 auto auto;
        }
    }

    .response {
        display: flex;
        flex-direction: column;
    }

    &[open] summary{
        .sprite_icon {
            transform: rotate(-270deg);
        }
    }

    &[open] summary:before{
        content: "";
        transform: rotate(180deg);
    }

}
