table {
    width: 100%;
    border-top: none;
    border-left: none;

    border-spacing: 0;

    th,td {
        border-bottom: none;
        border-right: none;
        padding: 5px 10px;
        text-align: left;
    }

    th {
        background-color: $blue_color_light;
        padding: 10px 15px;
        color: white;
    }

    tr:nth-child(2n) td {
        background-color: #EBEBEB;
    }
}

@media (max-width:1024px) {
    .table_wrapper {
        width:100%;
        overflow-x: auto;
    }
}

