.shop_selection {
    display: flex;
    gap:20px;

    .punkt {
        border: 1px solid $gray_border_color;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 35px;
        padding: 0 30px;
        cursor:pointer;
        &.active {
            background-color: $yello_color;
        }
    }
}

@media (max-width:768px) {

    .shop_select_form {
        .shop_selection {
            justify-content: space-between;
            gap:10px;
        }
    }
}
